$font-stack: 'Open Sans', sans-serif;
$primary-color: #219EBC;
$container-color: #BCDEF1;
$font-color: #023047;
$border-color: #EEF7FB;
$card-color: #FFF3D6;
$comp-shadow: #FF8D0A;


@mixin container() {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 15px;
  margin-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 5vh;
  border: 2px solid $border-color;
  border-radius: 15px;
}
